name: Build

on:
  push:
    branches:
      - main

    paths:
      - Cargo.toml
      - .github/workflows/publish.yml

permissions: write-all

jobs:
  create-release:
    name: Create a new github release

    permissions:
      contents: write

    runs-on: ubuntu-latest

    outputs:
      upload_url: ${{ steps.get-u-url.outputs.result }}
      release_id: ${{ steps.get-id.outputs.result }}
      sha: ${{ steps.commit.outputs.sha }}

    steps:
      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: 2897553
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Patch
        shell: pwsh
        run: |
          ./patchVersion.ps1

      - name: Commit changes
        id: commit
        run: |
          git config user.name "cli-journal[bot]"
          git config user.email "cli-journal[bot]@users.noreply.github.com"

          git add .
          git commit -m "Automated update"

          SHA=$(git rev-parse HEAD)
          echo "sha=$SHA" >> $GITHUB_OUTPUT

          git push origin HEAD:main

          echo "## ✅ Verified Commit Created" >> $GITHUB_STEP_SUMMARY

      - name: Create Release
        id: create-release
        uses: actions/github-script@v7
        env:
          BRANCH: ${{ github.ref_name }}
        with:
          script: |
            const fs = require("fs");
            const version = require('./package.json').version;

            const { data } = await github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: version,
              name: `AHQ Store CLI Binaries v${version}`,
              body: String(fs.readFileSync("./latest.md")),
              draft: true,
              prerelease: false
            });
            return data

      - name: Get Release Id
        id: get-id
        uses: actions/github-script@v7
        env:
          data: ${{ steps.create-release.outputs.result }}
        with:
          result-encoding: string
          script: |
            let data = process.env.data;

            try {
              data = JSON.parse(data);

              console.log(data.id);

              return data.id;
            } catch (_) {
              console.log(data.id);
              return data.id;
            }

      - name: Get Upload Url
        id: get-u-url
        uses: actions/github-script@v7
        env:
          data: ${{ steps.create-release.outputs.result }}
        with:
          result-encoding: string
          script: |
            let data = process.env.data;

            try {
              data = JSON.parse(data);

              return data.upload_url;
            } catch (_) {
              return data.upload_url;
            }

  cargo:
    name: Publish to cargo

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Cargo
        run: rustup toolchain add stable

      - name: Get Cargo OIDC Auth
        uses: rust-lang/crates-io-auth-action@v1
        id: auth

      - name: Publish
        run: cargo publish --allow-dirty
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}

  build:
    name: Build CLI and Dylib

    needs: [create-release]

    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu

          - os: ubuntu-latest
            target: i686-unknown-linux-gnu

          - os: ubuntu-latest
            target: aarch64-unknown-linux-gnu

          - os: ubuntu-latest
            target: armv7-unknown-linux-gnueabihf

          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl

          - os: ubuntu-latest
            target: i686-unknown-linux-musl

          - os: ubuntu-latest
            target: aarch64-unknown-linux-musl

          - os: ubuntu-latest
            target: armv7-unknown-linux-musleabihf

          - os: windows-latest
            target: x86_64-pc-windows-msvc

          - os: windows-latest
            target: i686-pc-windows-msvc

          - os: windows-latest
            target: aarch64-pc-windows-msvc

          - os: macos-latest
            target: x86_64-apple-darwin

          - os: macos-latest
            target: aarch64-apple-darwin

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ needs.create-release.outputs.sha }}

      - name: Setup Rust Nightly
        run: |
          rustup toolchain add nightly
          rustup default nightly

          rustup target add ${{ matrix.target }}

      - name: Linux Cross Platform
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install zip gcc-aarch64-linux-gnu gcc-i686-linux-gnu gcc-arm-linux-gnueabihf
          sudo apt-get install musl-tools lld clang

      - name: Build
        if: contains(matrix.target, 'musl') == false
        run: cargo build --release --target ${{ matrix.target }}
        env:
          CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: aarch64-linux-gnu-gcc
          CARGO_TARGET_ARMV7_UNKNOWN_LINUX_GNUEABIHF_LINKER: arm-linux-gnueabihf-gcc

      - name: Build (musl)
        if: contains(matrix.target, 'musl')
        run: |
          cargo install cross --git https://github.com/cross-rs/cross
          cargo update
          cross build --release --target ${{ matrix.target }} --bin ahqstore

      - name: Bundle CLI
        run: |
          ./bundle.ps1
        shell: pwsh
        env:
          TARGET: ${{ matrix.target }}

      - name: Upload to Releases
        uses: AButler/upload-release-assets@v3.0
        with:
          release-id: ${{ needs.create-release.outputs.release_id }}
          files: ./ahqstore_cli_rs-${{ matrix.target }}.zip
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload to Releases (UNIX based)
        uses: AButler/upload-release-assets@v3.0
        if: matrix.os == 'ubuntu-latest' && contains(matrix.target, 'gnu')
        with:
          release-id: ${{ needs.create-release.outputs.release_id }}
          files: ./libahqstore_cli_rs-${{ matrix.target }}.so
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload to Releases (Windows based)
        uses: AButler/upload-release-assets@v3.0
        if: matrix.os == 'windows-latest'
        with:
          release-id: ${{ needs.create-release.outputs.release_id }}
          files: ./ahqstore_cli_rs-${{ matrix.target }}.dll
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload to Releases (MacOS based)
        uses: AButler/upload-release-assets@v3.0
        if: matrix.os == 'macos-latest'
        with:
          release-id: ${{ needs.create-release.outputs.release_id }}
          files: ./libahqstore_cli_rs-${{ matrix.target }}.dylib
          repo-token: ${{ secrets.GITHUB_TOKEN }}

  dart:
    name: Publish to pub.dev

    runs-on: ubuntu-latest

    permissions: write-all

    needs: [create-release, build]

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ needs.create-release.outputs.sha }}

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Install dependencies & Handle Publish Secrets
        run: |
          sudo apt-get update
          curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo gpg --dearmor -o /usr/share/keyrings/cloud.google.gpg

          echo "deb [signed-by=/usr/share/keyrings/cloud.google.gpg] https://packages.cloud.google.com/apt cloud-sdk main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list

          sudo apt-get update && sudo apt-get install google-cloud-cli

          # Auth
          echo "::add-mask::$GCLOUD"
          printf "%s" "$GCLOUD" | base64 -d > ../cloud.json
          gcloud auth activate-service-account --key-file=../cloud.json

          gcloud auth print-identity-token \
            --audiences=https://pub.dev \
            | dart pub token add https://pub.dev

          dart pub get

        working-directory: dart
        env:
          GCLOUD: ${{ secrets.GCLOUD_JSON }}

      - name: Publish to pub.dev
        shell: pwsh
        run: |
          cd dart
          dart pub publish --force

  npm:
    name: Publish to npmjs & JSR

    needs: [create-release, build]

    runs-on: ubuntu-latest

    permissions: write-all

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ needs.create-release.outputs.sha }}

      - name: Setup node
        uses: actions/setup-node@v5
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org"

      - name: Setup pnpm
        run: |
          npm i -g npm@latest
          npm i -g pnpm

      - name: Install dependencies
        shell: pwsh
        run: |
          pnpm install

      - name: Publish package
        run: npx jsr publish

      - name: Publish to npmjs
        run: |
          npm config set provenance true
          npm publish --access public
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup node for github
        uses: actions/setup-node@v5
        with:
          node-version: 22
          registry-url: https://npm.pkg.github.com/

      - name: Publish to GH Packages
        run: |
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  dotnet:
    runs-on: ubuntu-latest
    name: Publish to nuget & GH Packages

    needs: [build, create-release]

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ needs.create-release.outputs.sha }}

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.x

      - name: Restore Dependencies
        run: dotnet restore
        working-directory: dotnet

      - name: Build
        run: dotnet build --configuration Release
        working-directory: dotnet

      - name: Pack
        run: dotnet pack --configuration Release --output ./nupkgs
        working-directory: dotnet

      - name: NuGet login (OIDC → temp API key)
        uses: NuGet/login@v1
        id: login
        with:
          user: ahqsoftwares

      - name: Push to NuGet.org
        run: dotnet nuget push ./nupkgs/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ steps.login.outputs.NUGET_API_KEY }}
        working-directory: dotnet

      - name: Push to GitHub Packages
        run: dotnet nuget push ./nupkgs/*.nupkg --source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" --api-key "${{ secrets.GITHUB_TOKEN }}"
        working-directory: dotnet

  python:
    runs-on: ubuntu-latest

    name: Publish to PyPi

    needs: [build, create-release]

    permissions:
      id-token: write # Required for OIDC

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ needs.create-release.outputs.sha }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x" # Specify your Python version

      - name: Install dependencies
        working-directory: python
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: python -m build
        working-directory: python

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: python/dist
          attestations: true

  publish:
    needs: [create-release, build, npm, python, cargo, dotnet]
    name: Publish Release
    runs-on: ubuntu-latest

    if: success()

    steps:
      - name: Undraft Release
        uses: actions/github-script@v7
        env:
          R_ID: ${{ needs.create-release.outputs.release_id }}
        with:
          script: |
            github.rest.repos.updateRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: process.env.R_ID,
              draft: false
            });

  unpublish:
    name: Unpublish this release
    runs-on: ubuntu-latest

    needs: [create-release, build, npm, cargo, python, dotnet]

    if: failure()

    steps:
      - name: Delete Release
        uses: actions/github-script@v7
        env:
          R_ID: ${{ needs.create-release.outputs.release_id }}
        with:
          script: |
            github.rest.repos.deleteRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              release_id: process.env.R_ID,
            });
